body
{
    background-color: #75AAFF;
    margin: 0;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    line-height: 18px;
}

#content
{
    margin: 100px 0 0 400px;
    width: 500px;
}

#rocket
{
    z-index: 1;
    background: url(rocket.png);
    position: fixed;
    left: 100px;
    bottom: 90px;
    width: 200px;
    height: 500px;
}

#sky
{
    z-index: 2;
    background-color: #75AAFF;
    height: 600px;
}

#launchpad
{
}

#ground
{
    z-index: 4;
    height: 10px;
    background: green;
}

#underground
{
    position: relative;
    height: 200px;
}

#underground > div
{
    position: absolute;
    bottom: 0px;
    z-index: 5;
    height: 200px;
    width: 100%;
    background: #4F341C;
}
